@model MoviesApp.ViewModels.MovieIndexViewModel
@{
    ViewData["Title"] = "Почетна";
}

<div class="hero-section">
    <div class="container">
        <h1>Добредојдовте во MoviePlex</h1>
        <p>Вашата апликација за следење на филмови. Истражете ја нашата колекција, уредете ги вашите омилени филмови и многу повеќе.</p>
        <a asp-controller="Movies" asp-action="Index" class="btn btn-primary btn-lg">Види ги сите филмови</a>
    </div>
</div>
